.vue-toast.toasted-container{
    &.top-right{
        right: 50px;
    }
    .toasted{
        min-width: 200px;
        max-width: 400px;
        border-radius: 3px;
        background-color: #2e2e2e;
        color: #fff;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(33, 33, 33, 0.4);
        
        &.success {
            background-color: #5cb860;
            color: #ffffff;
            border-radius: 3px;
            box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
        }
        &.info {
            background-color: #00bcd4;
            color: #ffffff;
            border-radius: 3px;
            box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
        }
        &.warning {
            background-color: #ffa21a;
            color: #ffffff;
            border-radius: 3px;
            box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
        }
        &.error {
            background-color: #f55a4e;
            color: #ffffff;
            border-radius: 3px;
            box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
        }
        &.rose {
            background-color: #eb3573;
            color: #ffffff;
            border-radius: 3px;
            box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
        }
    }
}


.toast.toast-success a,
.toast.toast-success .toast-link {
    color: #ffffff;
}


.toast.toast-info a,
.toast.toast-info .toast-link {
    color: #ffffff;
}


.toast.toast-warning a,
.toast.toast-warning .toast-link {
    color: #ffffff;
}


.toast.toast-danger a,
.toast.toast-danger .toast-link {
    color: #ffffff;
    
}