

.table{
    margin-bottom: 0;
    thead{
        tr{
            th{
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
            }
        }
    }
    tbody{
        tr{
            &:nth-of-type(odd) {
                background-color: #f2f2f2;
            }
            td{
                border-top: 1px solid #ddd;
            }
            &:last-child{
                td{
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }
    .td-index{
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        text-align: center;
    }
    .td-action{
        width: 135px;
        max-width: 135px;
        min-width: 135px;
        text-align: center;
    }
    .td-level{
        width: 135px;
        max-width: 135px;
        min-width: 135px;
        text-align: left;
    }
    .td-category{
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: left;
    }
    .td-function-name{
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: left;
    }
    .td-multiple{
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: left;
    }
}